<p id="notice"><%= notice %></p>

<!--
<p>
  <strong>Arrival:</strong>
  <%= @menu.arrival_id %>
</p>
-->

<p>
	<strong>Bean/Supplier:</strong>
	<%= @menu.arrival.bean[:name] %>/<%= @menu.arrival.bean.supplier[:name] %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @menu.temperature %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @menu.variety %>
</p>

<%= link_to 'Edit', edit_menu_path(@menu) %> |
<%= link_to 'Back', menus_path %>
