<%= render 'shared/index_temp_1' %>
<p id="notice"><%= notice %></p>
<%= render 'shared/index_temp_2' %>

<!--
<p>
  <strong>Arrival:</strong>
  <%= @menu.arrival_id %>
</p>
-->

<p>
	<strong>Bean/Supplier:</strong>
	<%= @menu.arrival.bean[:name] %>/<%= @menu.arrival.bean.supplier[:name] %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu.price %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @menu.temperature %>
</p>

<p>
  <strong>Variety:</strong>
  <%= @menu.variety %>
</p>
<%= render 'shared/index_temp_3' %>

<%= link_to 'New Menu', new_menu_path, class: "btn btn-primary" %> |
<%= link_to 'Edit', edit_menu_path(@menu), class: "btn btn-warning" %> |
<%= link_to 'Back', menus_path, class: "btn btn-default" %>
<%= render 'shared/index_temp_4' %>
