<%= render 'shared/index_temp_1' %>
<p id="notice"><%= notice %></p>
<%= render 'shared/index_temp_2' %>

<p>
  <strong>Name:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>Person type:</strong>
  <%= @person.person_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @person.description %>
</p>
<%= render 'shared/index_temp_3' %>

<%= link_to 'New Person', new_person_path, class: "btn btn-primary" %> |
<%= link_to 'Edit', edit_person_path(@person), class: "btn btn-warning" %> |
<%= link_to 'Back', people_path, class: "btn btn-default" %>
<%= render 'shared/index_temp_4' %>
