<p id="notice"><%= notice %></p>

<h1>Listing Arrivals</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Bean</th>
      <th>Arrival type</th>
      <th>Arrival date</th>
      <th>Soldout</th>
      <th>Soldout date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arrivals.each do |arrival| %>
      <tr>
        <td><%= arrival.bean_id %></td>
        <td><%= arrival.arrival_type %></td>
        <td><%= arrival.arrival_date %></td>
        <td><%= arrival.soldout %></td>
        <td><%= arrival.soldout_date %></td>
        <td><%= link_to 'Show', arrival %></td>
        <td><%= link_to 'Edit', edit_arrival_path(arrival) %></td>
        <td><%= link_to 'Destroy', arrival, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arrival', new_arrival_path %>
