<%= render 'shared/header_start' %>

  <p id="notice"><%= notice %></p>
<%= render 'shared/header_end' %>

<%= render 'shared/rowset_start' %>
<legend><%= @arrival.bean.name%>'s arraival</legend>

<% type_str = {'stock' => '株豆', 'bean_buy' => '購入豆'}%>
<p>
  <strong>Arrival type:</strong>
  <%= type_str[@arrival.arrival_type] %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @arrival.arrival_date %>
</p>

<p>
  <strong>Soldout:</strong>
  <%= @arrival.soldout %>
</p>

<p>
  <strong>Soldout date:</strong>
  <%= @arrival.soldout_date %>
</p>
<%= render 'shared/rowset_end' %>

<%= render 'shared/rowset_start' %>
  <% if @arrival.arrival_type == 'stock' then %>
    <%= render partial: "stock_info", locals: {stock: @arrival.stock} %>
  <% elsif @arrival.arrival_type == 'bean_buy' then %>
    <%= render partial: "bean_buy_info", locals: {bean_buy: @arrival.bean_buy} %>
  <% end %>
<%= render 'shared/rowset_end'%>

<%= render 'shared/footer_start' %>
  <%= link_to 'New Arrival', new_arrival_path, class: "btn btn-primary" %> |
  <%= link_to 'Edit', edit_arrival_path(@arrival), class: "btn btn-warning"  %> |
  <%= link_to 'Back', arrivals_path, class: "btn btn-default" %>
<%= render 'shared/footer_end' %>
