<%= render 'shared/index_temp_1' %>

  <p id="notice"><%= notice %></p>
<%= render 'shared/index_temp_2' %>

<p>
  <strong>Bean:</strong>
  <%= @arrival.bean_id %>
</p>

<p>
  <strong>Arrival type:</strong>
  <%= @arrival.arrival_type %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @arrival.arrival_date %>
</p>

<p>
  <strong>Soldout:</strong>
  <%= @arrival.soldout %>
</p>

<p>
  <strong>Soldout date:</strong>
  <%= @arrival.soldout_date %>
</p>
<%= render 'shared/index_temp_3' %>

<%= link_to 'New Arrival', new_arrival_path, class: "btn btn-primary" %> |
<%= link_to 'Edit', edit_arrival_path(@arrival), class: "btn btn-warning"  %> |
<%= link_to 'Back', arrivals_path, class: "btn btn-default" %>
<%= render 'shared/index_temp_4' %>
