<p id="notice"><%= notice %></p>

<p>
  <strong>Bean:</strong>
  <%= @arrival.bean_id %>
</p>

<p>
  <strong>Arrival type:</strong>
  <%= @arrival.arrival_type %>
</p>

<p>
  <strong>Arrival date:</strong>
  <%= @arrival.arrival_date %>
</p>

<p>
  <strong>Soldout:</strong>
  <%= @arrival.soldout %>
</p>

<p>
  <strong>Soldout date:</strong>
  <%= @arrival.soldout_date %>
</p>

<%= link_to 'Edit', edit_arrival_path(@arrival) %> |
<%= link_to 'Back', arrivals_path %>
