<%= form_for(@straight_bean, html: {class: "new_straight_bean form-horizontal"}) do |f| %>
  <% if @straight_bean.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@straight_bean.errors.count, "error") %> prohibited this straight_bean from being saved:</h2>

      <ul>
      <% @straight_bean.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :bean_id %><br>
	<%= f.select :bean_id, @bean_and_supplier_list, {include_blank: '選択してください'}, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :loast %><br>
    <%= f.text_field :loast, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
