<%= render 'shared/index_temp_1' %>
<h1>Editing Straight Bean</h1>
<%= render 'shared/index_temp_2' %>

<%= render 'form' %>
<%= render 'shared/index_temp_3' %>

<%= link_to 'Show', @straight_bean, class: "btn btn-success" %> |
<%= link_to 'Back', straight_beans_path, class: "btn btn-default" %>
<%= render 'shared/index_temp_4' %>
