<p id="notice"><%= notice %></p>

<p>
  <strong>Bean:</strong>
  <%= @straight_bean.bean_id %>
</p>

<p>
  <strong>Loast:</strong>
  <%= @straight_bean.loast %>
</p>

<%= link_to 'Edit', edit_straight_bean_path(@straight_bean) %> |
<%= link_to 'Back', straight_beans_path %>
