<%= form_for(@bean_buy, html: {class: "new_bean_buy form-horizontal"}) do |f| %>
  <% if @bean_buy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bean_buy.errors.count, "error") %> prohibited this bean_buy from being saved:</h2>

      <ul>
      <% @bean_buy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :arrival_id %><br>
    <%= f.number_field :arrival_id, value: @arrival_id, readonly: false, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :cost %><br>
    <%= f.number_field :cost, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
