<%= render 'shared/index_temp_' %>
<h1>New Bean Buy</h1>
<%= render 'shared/index_temp_2' %>

<%= render 'form' %>
<%= render 'shared/index_temp_3' %>

<%= link_to 'Back', bean_buys_path, class: "btn btn-default" %>
<%= render 'shared/index_temp_4' %>
