<%= render 'shared/header_start' %>

<h1>Editing Order</h1>

<%= render 'shared/header_end' %>
<%= render 'shared/rowset_start' %>

<%= render 'form' %>
<%= render 'shared/rowset_end' %>

<%= render 'shared/footer_start' %>

<%= link_to 'Show', @order, class: "btn btn-success" %> |
<%= link_to 'Back', orders_path, class: "btn btn-default" %>

<%= render 'shared/footer_end' %>
