<p id="notice"><%= notice %></p>

<p>
  <strong>Menu:</strong>
  <%= @order.menu_id %>
</p>

<p>
  <strong>Person:</strong>
  <%= @order.person_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @order.time %>
</p>

<p>
  <strong>Price type:</strong>
  <%= @order.price_type %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
