<%= render 'shared/header_start' %>

<p id="notice"><%= notice %></p>

<%= render 'shared/header_end' %>
<%= render 'shared/rowset_start' %>

<!--
<p>
  <strong>Menu:</strong>
  <%= @order.menu_id %>
</p>
-->
<p>
  <strong>Variety</strong>
  <%= @order.menu.variety %>
</p>

<p>
  <strong>Temperature</strong>
  <%= @order.menu.temperature %>
</p>

<p>
  <strong>Bean:</strong>
  <%= @order.menu.arrival.bean.name %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @order.menu.arrival.bean.supplier.name %>
</p>

<!--
<p>
  <strong>Person:</strong>
  <%= @order.person_id %>
</p>
-->
<p>
  <strong>Person:</strong>
  <%= @order.person.name %>
</p>
<p>
  <strong>Time:</strong>
  <%= @order.time %>
</p>

<p>
  <strong>Price type:</strong>
  <%= @order.price_type %>
</p>

<p>
  <strong>Price:</strong>
  <%= @order.price %>
</p>

<%= render 'shared/rowset_end' %>
<%= render 'shared/footer_start' %>


<%= link_to 'New Order', new_order_path, class: "btn btn-primary" %> |
<%= link_to 'Edit', edit_order_path(@order), class: "btn btn-warning" %> |
<%= link_to 'Back', orders_path, class: "btn btn-default" %>

<%= render 'shared/footer_end' %>
