<%= form_for(@bean, html: {class: "new_bean form-horizontal"}) do |f| %>
  <% if @bean.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bean.errors.count, "error") %> prohibited this bean from being saved:</h2>

      <ul>
      <% @bean.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name ,class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :bean_type %><br>
    <%= f.select :bean_type, ['blend','straight'], {include_blank: '選択して下さい'}, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :supplier_id %><br>
    <%= f.collection_select :supplier_id, @supplier_list, :id, :name, {include_blank: '選択してください'}, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="actions form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
