<%= render 'shared/header_start' %>
<h1><%= unless @bean_supplier.nil? then @supplier_list.find(@bean_supplier).name+"'s " end %>New Bean</h1>
<%= render 'shared/header_end' %>

<%= render 'shared/rowset_start'%>
<%= render 'form' %>
<%= render 'shared/rowset_end' %>

<%= render 'shared/footer_start'%>
<% if @bean_supplier.nil? then %>
  <%= link_to 'Back', beans_path, class: "btn btn-default" %>
<% else %>
  <%= link_to 'Back', supplier_path(@bean_supplier), class: "btn btn-default" %>
<% end %>
<%= render 'shared/footer_end' %>
