<%= render 'shared/index_temp_1' %>
<p id="notice"><%= notice %></p>
<%= render 'shared/index_temp_2' %>

<p>
  <strong>Name:</strong>
  <%= @bean.name %>
</p>

<p>
  <strong>Bean type:</strong>
  <%= @bean.bean_type %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @bean.supplier_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bean.description %>
</p>
<%= render 'shared/index_temp_3' %>

<%= link_to 'New Bean', new_bean_path, class: "btn btn-primary" %> |
<%= link_to 'Edit', edit_bean_path(@bean), class: "btn btn-warning" %> |
<%= link_to 'Back', beans_path, class: "btn btn-default" %>
<%= render 'shared/index_temp_4' %>
