<%= render 'shared/index_temp_1' %>
<p id="notice"><%= notice %></p>

<h1>Listing Suppliers</h1>
<%= render 'shared/index_temp_2' %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suppliers.each do |supplier| %>
      <tr>
        <td><%= supplier.name %></td>
        <td><%= supplier.location %></td>
        <td><%= link_to 'Show', supplier, class: "btn btn-success" %></td>
        <td><%= link_to 'Edit', edit_supplier_path(supplier), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= render 'shared/index_temp_3' %>

<%= link_to 'New Supplier', new_supplier_path, class: "btn btn-primary" %>
<%= render 'shared/index_temp_4' %>
