<%= render 'shared/header_start' %>
<h1>New Supplier</h1>
<%= render 'shared/header_end' %>

<%= render 'shared/rowset_start'%>
<%= render 'form' %>
<%= render 'shared/rowset_end' %>

<%= render 'shared/footer_start'%>
<%= link_to 'Back', suppliers_path %>
<%= render 'shared/footer_end' %>
