<%= render 'shared/index_temp_1' %>
<h1>New Supplier</h1>
<%= render 'shared/index_temp_2' %>

<%= render 'form' %>
<%= render 'shared/index_temp_3' %>

<%= link_to 'Back', suppliers_path %>
<%= render 'shared/index_temp_4' %>
